<h3 class="mb-3">Usuarios</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="width: 40%;">Nombre</th>
      <th scope="col" style="width: 30%;">Email</th>
      <th scope="col" style="width: 15%;">Rol</th>
      <th scope="col" style="width: 15%;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Alvaro García</td>
      <td>alvaro.com</td>
      <td>user</td>
      <td>eliminar</td>
    </tr>
    <tr>
      <td>Alvaro García</td>
      <td>alvaro.com</td>
      <td>user</td>
      <td>eliminar</td>
    </tr>
    <tr>
      <td>Alvaro García</td>
      <td>alvaro.email.com</td>
      <td>user</td>
      <td>eliminar</td>
    </tr>
  </tbody>
</table>
