<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title">{{'deleteBook' | translate}}</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <div class="pt-2 pb-2">{{'delete_user_confirmation' | translate}}</div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'cancel' | translate}}</button>
           <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
              (click)="deleteUser()">{{'accept' | translate}}</button>
        </div>
     </div>
  </div>
</div>
